/*Extra small */
@media only screen and (min-width: 250px) and (max-width: 767px){
      .card-img {
        border-radius: 10px 10px 0 0;
        width: 100%;
        object-fit: cover;
        height: 500px;
      }
      h2{
        font-size: 3.5em;
      }
      p, .font-size1,h3{
        font-size: 2.5em;
      }
      .choisir {
        height: 140px;
        font-size: 2.5em;
        
      }
      .border-violet{
        height: 40px;
        width: 40px;
      }
      .fa-heart{
        font-size: 3em;
      }

      .card {
        width: 90%;
      }
      .border-rose{
        width: 50%;
        padding: 20px;
    font-size: 2.5em;
    border-radius: 50px;
      }
      .bouton{
        font-size: 3em;
      }
      h1{
        font-size: 6em;
      }
      

}


/*small */
@media only screen and (min-width: 768px) and (max-width: 1024px){
      .card-img {
        border-radius: 10px 10px 0 0;
        width: 100%;
        object-fit: cover;
        height: 500px;
      }
      h1{
        font-size: 6em;
      }
      h2{
        font-size: 3.5em;
      }
      p, .font-size1,h3{
        font-size: 2.5em;
      }
      .border-violet{
        height: 40px;
        width: 40px;
      }
      .fa-heart{
        font-size: 3em;
      }
      main{
        text-align: center;
      }
      .border-rose{
        width: 50%;
        padding: 20px;
      font-size: 2.5em;
      border-radius: 50px;
        }
        
      
      .card {
        width: 90%;
      }

      .bouton{
        font-size: 3em;
      }
      .choisir{
        height: 140px;
        font-size:2.5em;
      }

}

@media only screen and (min-width: 1025px) {
  .bouton{
    font-size: 1.5em;
  }
  .choisir{
    height: 80px;
  }

}

    