/*Extra small devices (phones 600 pxand down)*/
@media only screen and (min-width: 250px) and (max-width: 767px){
      .card-img {
        border-radius: 10px 10px 0 0;
        width: 100%;
        object-fit: cover;
        height: 500px;
      }
      h2{
        font-size: 1.5em;
      }
      p, .font-size1,.choisir,.composer,.deguster,.border-rose,h3{
        font-size: 2em;
      }
      .border-violet{
        height: 40px;
        width: 40px;
      }
      .fa-heart{
        font-size: 3em;
      }
      
     
  

}
/*Extra small devices (phones 600 pxand down)*/
@media only screen and (min-width: 768px) and (max-width: 1024px){
      .card-img {
        border-radius: 10px 10px 0 0;
        width: 100%;
        object-fit: cover;
        height: 500px;
      }
      h2{
        font-size: 3em;
      }
      p, .font-size1,.choisir,.composer,.deguster,.border-rose,h3{
        font-size: 2em;
      }
      .border-violet{
        height: 40px;
        width: 40px;
      }
      .fa-heart{
        font-size: 3em;
      }
      main{
        text-align: -webkit-center;
      }
      .border-rose{
        width: 50%;
      }
      


}
    