.border-rose{
    border: 2px solid #ff79DA;
    border-radius: 30px;
    height: 60px;
    color: white;
    background:linear-gradient(0deg,rgba(147,86,220,9), rgba(255, 121, 218, 9));
    text-align: center;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    text-decoration: none;
    font-size: 1.5em;
    box-shadow: 10px 5px 5px #f2f2f2 ;                    

    }
    .border-rose:hover{
      box-shadow: 10px 5px 5px #ff79da;
    }

    aside{
        text-align: center;
        width: 100%;
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    
      }
         /*Extra small */
@media only screen and (min-width: 250px) and (max-width: 767px){
  .border-rose{
    font-size: 2em;
  }
}
/* small */
@media only screen and (min-width: 768px) and (max-width: 1024px){
  .border-rose{
    font-size: 2em;
  }
}