.list-animation{
  animation: fadeIn 0.5s linear;
  animation-fill-mode: both;
}

.list-animation:nth-child(2) {
  animation-delay: .25s;
}

.list-animation:nth-child(3) {
  animation-delay: .50s;
}

.list-animation:nth-child(4) {
  animation-delay: .75s;
}

.list-animation-plat{
  animation: fadeIn 0.5s linear;
  animation-fill-mode: both;
}
.list-animation-plat:nth-child(2) {
  animation-delay: 1.s;
}

.list-animation-plat:nth-child(3) {
  animation-delay: 1.25s;
}

.list-animation-plat:nth-child(4) {
  animation-delay: 1.50s;
}

.list-animation-dessert{
  animation: fadeIn 0.5s linear;
  animation-fill-mode: both;
}
.list-animation-dessert:nth-child(2) {
  animation-delay: 1.75s;
}

.list-animation-dessert:nth-child(3) {
  animation-delay: 2.s;
}

.list-animation-dessert:nth-child(4) {
  animation-delay: 2.25s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    top: 100px;
  }
  75% {
    opacity: 0.5;
    top: 0px;
  }
  100% {
    opacity: 1;
  }
}


.Entrée{
    display: flex;
    background-color: white;
    border-radius: 15px;
    margin-block-start: 20px;
    font-size: 1.2em;
    width: 100%;
  }
  .Entrée1{
      width: 100%;
      padding: 10px;
  }
  .Entrée2{
    display: flex;
    font-size: 0.8em;
    width: 100% !important;
  }

  .sous-titre{
    width: 90%;
  }

  .menu-prix {
    width: 10%;
  }

  .Entrée3{
    width: 0%;
    transition: width 1s;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .Entrée3 a {
    display: none;
  }

  .Entrée:hover .Entrée3{
    display: flex;
    width: 10%;
    background-color: #99e2d0; 
    border-radius: 0 15px 15px 0;
  }

  .Entrée:hover .Entrée3 a{
    display: block;
  }
  .fa-check-circle{
    text-decoration: none;
    color: white;
    position: relative;

    animation:spin 1s linear;
  }
  @keyframes spin { 100% { transform:rotate(360deg); } }

  .Plat{
    display: flex;
    background-color: white;
    border-radius: 15px;
    margin-block-start: 20px;
    font-size: 1.2em;
    width: 100%;
  }
  .Plat1{
      width: 100%;
      padding: 10px;
  }
  .Plat2{
    display: flex;
    font-size: 0.8em;
    width: 100% !important;
  }

  .Plat3{
    width: 0%;
    transition: width 1s;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .Plat3 a {
    display: none;
  }

  .Plat:hover .Plat3{
    display: flex;
    width: 10%;
    background-color: #99e2d0; 
    border-radius: 0 15px 15px 0;
  }

  .Plat:hover .Plat3 a{
    display: block;
  }
  .Dessert{
    display: flex;
    background-color: white;
    border-radius: 15px;
    margin-block-start: 20px;
    font-size: 1.2em;
    width: 100%;
  }
  .Déssert1{
      width: 100%;
      padding: 10px;
  }
  .Déssert2{
    display: flex;
    font-size: 0.8em;
    width: 100% !important;
  }

  .Déssert3{
    width: 0%;
    transition: width 1s;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .Déssert3 a {
    display: none;
  }

  .Dessert:hover .Déssert3{
    display: flex;
    width: 10%;
    background-color: #99e2d0; 
    border-radius: 0 15px 15px 0;
  }

  .Dessert:hover .Déssert3 a{
    display: block;
  }
  h2{
    font-size: 2em;
  }
  h4{
      font-size: 1.5em;
      border-bottom: 2px solid #99e2d0;
      width: 4%;
      font-weight: lighter;
      text-transform: uppercase;
  }
  .font-size{
    font-size: 1em;
  }
  .font-size1{
    font-size: 1.2em;
    font-weight: bold;
  }
  p{
    font-size: 1.2em;
    color: white;
  }
  h3{
    font-size: 1.5em;
    font-weight: bold;
    color: white;
  }
  section{
      position: relative;
      bottom: 40px;
      background-color: #f2f2f2;
      padding-top: 10px;
      padding-bottom: 10px;
      border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .container{
      width: 100%;
      display: flex;
      align-items: center;
  }
  .container1{
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .coeur{
      width: 10%;
      font-size: 2em;
  }
  .fa-heart{
    color: grey;
  }
  .fa-heart:hover{
    color:  #ff79da;
    transition: 2s; 
    box-shadow: none;
    font-weight: 900;
    animation: progress-bar 1s linear;
  }
  .logo , h2,h4,h3{
    font-family: shrikhand ,ariane , sans-serif;
  }
  body{
    font-family: roboto , ariane , sans-serif;
  }
  /*Extra small */
@media only screen and (min-width: 250px) and (max-width: 767px){
  .coeur{
    font-size: 2em;
}
h2{
  font-size: 2.3em;
}
h4{
    font-size: 1.8em;
}
.font-size{
  font-size: 1.3em;
}
.font-size1{
  font-size: 1.5em;
}
p{
  font-size: 1.5em;
}
h3{
  font-size: 1.8em;
}
.Dessert, .Entrée, .Plat{
  font-size: 1.5em;
}
.Déssert2, .Plat2, .Entrée2{
  font-size: 1.1em;
}

}

/* small */
@media only screen and (min-width: 768px) and (max-width: 1024px){
  .coeur{
    font-size: 2em;
}
h2{
  font-size: 2.3em;
}
h4{
    font-size: 1.8em;
}
.font-size{
  font-size: 1.3em;
}
.font-size1{
  font-size: 1.5em;
}
p{
  font-size: 1.5em;
}
h3{
  font-size: 1.8em;
}
.Dessert, .Entrée, .Plat{
  font-size: 1.5em;
}
.Déssert2, .Plat2, .Entrée2{
  font-size: 1.1em;
}

}
 

 
